@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

body {
  background-color: #333;
  color: #ddd;
  font-family: Jost, sans-serif;
  font-feature-settings: "ss01";
  font-size: clamp(1rem, 2.5vw, 1.3rem);;
  max-width: 60rem;
  margin: auto;
  padding: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #8cc2dd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
}

math {
  font-size: 1.2em;
}

.giscus {
  margin-top: 100px;
}