<style>
#academic-links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#academic-links-footer > a {
	margin-right: 2em;
}
@media (prefers-color-scheme: dark) {
	#academic-links-footer img {
		filter: invert(100%);
	}
}
</style>
<div id="academic-links-footer">
	<a href="https://scholar.google.com/citations?user=U5lVeQkAAAAJ"><img src="/logos/google-scholar.svg" height="35em"></a>
	<a href="https://dblp.org/pid/305/7712.html"><img src="/logos/dblp.svg" height="35em"></a>
	<a href="https://orcid.org/0000-0001-9419-6646"><img src="/logos/orcid.svg" height="35em"></a>
	<a href="https://cv.hal.science/talb"><img src="/logos/hal.svg" height="35em"></a>
	<a href="https://github.com/TimotheAlbouy"><img src="/logos/github.svg" height="35em"></a>
	<a href="https://linkedin.com/in/timothe-albouy"><img src="/logos/linkedin.svg" height="35em"></a>
</div>